
@{
    ViewData["Title"] = "Projects";
}
<br />

<h2>Projects</h2>

<a class=" btn btn-info" asp-controller="Projects" asp-action="New">New Project</a>

<br />
<br />

<table class="table table-hover" style="width:70%" id="projects">
    <thead>
        <tr>
            <th style="width:20%">Name</th>
            <th style="width:20%">Date Of Start</th>
            <th style="width:20%">Status</th>
            <th style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <script>
        $(document).ready(function () {
            $.get("api/projects", function (data) {
                for (let i = 0; i < data.length; i++) {
                    $("#projects tbody").append("<tr>" +
                        "<td> <a class='btn btn-success' href='/Projects/Details/" + data[i].id + "'>" + data[i].name + "</a></td>" +
                        "<td> " + data[i].dateOfStart.split("T")[0] + "</td>" +
                        "<td> " + data[i].status.name + "</td>" +
                        "<td><a class=' btn btn-danger delete' id=" + data[i].id + ">Delete</a></td>" +
                        "</tr> ");
                }
            });

            $("#projects").on("click", ".delete", function () {
                let button = $(this);
                bootbox.confirm("Are you shure you want delete this project?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/projects/" + button.attr("id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
 
}