@model Relaty.ViewModels.ProjectStatusesModel
@{
    ViewData["Title"] = "New";
}

<br />

<h2>New Project</h2>

<br />

<form method="post" asp-action="Create">
    <label asp-for="Project.Id" hidden></label>
    <div class="form-group col-3">
        <label asp-for="Project.Name"></label>
        <input type="text" class="form-control" asp-for="Project.Name" />
        <span asp-validation-for="Project.Name" class="text-danger"></span>
    </div>
    <div class="form-group col-3">
        <label asp-for="Project.DateOfStart"></label>
        <input asp-format="{0:dd/MM/yyyy}" class="form-control" asp-for="Project.DateOfStart" />
        <span asp-validation-for="Project.DateOfStart" class="text-danger"></span>
    </div>
    <div class="form-group col-3">
        <label asp-for="Project.StatusId"></label>
        <select asp-for="Project.StatusId" class="form-control" id="exampleSelect1" asp-items="@(new SelectList(Model.Statuses,"Id","Name"))">
            <option value="0">Select status</option>
        </select>
        <span asp-validation-for="Project.StatusId" class="text-danger"></span>
    </div>
    <div class="form-group col-3">
        <button class="btn btn-success">Submit</button>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<partial name="_ValidationScriptsPartial" />




