
@{
    ViewData["Title"] = "ProjectsList";
}
<br />

<h2>Projects</h2>

<br />
<br />

<table class="table table-hover" style="width:60%" id="projects">
    <thead>
        <tr>
            <th style="width:20%">Name</th>
            <th style="width:20%">Date Of Start</th>
            <th style="width:20%">Status</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/realTime.js"></script>
    <script>
        $(document).ready(function () {
            $.get("api/projects", function (data) {
                for (let i = 0; i < data.length; i++) {
                    $("#projects tbody").append("<tr>" +
                        "<td> <a class='btn btn-success' href='/Projects/Details/" + data[i].id + "'>" + data[i].name + "</a></td>" +
                        "<td> " + Date(data[i].dateOfStart)  + "</td>" +
                        "<td> " + data[i].status.name + "</td>" +
                        "</tr> ");
                }
            });

            function Date(date) {
                if (date == null) {
                    return "Not defined!";
                }
                else {
                    let date2 = date.split("T")[0];
                    date3 = date2.split("-");
                    dateLocal = date3[2] + "-" + date3[1] + "-" + date3[0];
                    return dateLocal;
                }
            }
        });
    </script>

}

